USE [master]
GO
/****** Object:  Database [TP06Prog]    Script Date: 9/9/2026 09:07:34 ******/
CREATE DATABASE [TP06Prog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP06Prog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP06Prog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP06Prog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP06Prog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP06Prog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP06Prog]
GO
/****** Object:  User [alumno]    Script Date: 9/9/2026 09:07:34 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Partidas]    Script Date: 9/9/2026 09:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[PartidaId] [int] IDENTITY(1,1) NOT NULL,
	[NombreParticipante] [varchar](50) NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
	[Estado] [varchar](50) NOT NULL,
	[TiempoConsumido] [int] NULL,
 CONSTRAINT [PK_Partidas] PRIMARY KEY CLUSTERED 
(
	[PartidaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgresoPorSala]    Script Date: 9/9/2026 09:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgresoPorSala](
	[ProgresoId] [int] IDENTITY(1,1) NOT NULL,
	[PartidaId] [int] NOT NULL,
	[SalaId] [int] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[IntentosUsados] [int] NOT NULL,
	[PistasSolicitadas] [int] NOT NULL,
	[FechaUltimaAccion] [datetime] NOT NULL,
 CONSTRAINT [PK_ProgresoPorSala] PRIMARY KEY CLUSTERED 
(
	[ProgresoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 9/9/2026 09:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[SalaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Narrativa] [varchar](300) NOT NULL,
	[Acertijo] [varchar](300) NOT NULL,
	[RespuestaEsperada] [varchar](50) NOT NULL,
	[Orden] [int] NOT NULL,
	[LimiteIntentos] [int] NOT NULL,
	[LimitePistas] [int] NOT NULL,
 CONSTRAINT [PK_Tablas] PRIMARY KEY CLUSTERED 
(
	[SalaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Partidas] ON 

INSERT [dbo].[Partidas] ([PartidaId], [NombreParticipante], [FechaInicio], [FechaFin], [Estado], [TiempoConsumido]) VALUES (1, N'Jugador', CAST(N'2026-09-09T08:43:12.097' AS DateTime), NULL, N'Activa', NULL)
INSERT [dbo].[Partidas] ([PartidaId], [NombreParticipante], [FechaInicio], [FechaFin], [Estado], [TiempoConsumido]) VALUES (2, N'Jugador', CAST(N'2026-09-09T08:43:59.460' AS DateTime), NULL, N'Activa', NULL)
INSERT [dbo].[Partidas] ([PartidaId], [NombreParticipante], [FechaInicio], [FechaFin], [Estado], [TiempoConsumido]) VALUES (3, N'Jugador', CAST(N'2026-09-09T08:44:18.680' AS DateTime), NULL, N'Activa', NULL)
SET IDENTITY_INSERT [dbo].[Partidas] OFF
GO
SET IDENTITY_INSERT [dbo].[ProgresoPorSala] ON 

INSERT [dbo].[ProgresoPorSala] ([ProgresoId], [PartidaId], [SalaId], [Estado], [IntentosUsados], [PistasSolicitadas], [FechaUltimaAccion]) VALUES (1, 4, 1, N'Completada', 1, 0, CAST(N'2026-09-09T08:55:36.460' AS DateTime))
INSERT [dbo].[ProgresoPorSala] ([ProgresoId], [PartidaId], [SalaId], [Estado], [IntentosUsados], [PistasSolicitadas], [FechaUltimaAccion]) VALUES (2, 4, 2, N'Completada', 2, 0, CAST(N'2026-09-09T08:55:38.040' AS DateTime))
INSERT [dbo].[ProgresoPorSala] ([ProgresoId], [PartidaId], [SalaId], [Estado], [IntentosUsados], [PistasSolicitadas], [FechaUltimaAccion]) VALUES (3, 4, 2, N'Completada', 2, 0, CAST(N'2026-09-09T08:55:38.040' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProgresoPorSala] OFF
GO
SET IDENTITY_INSERT [dbo].[Salas] ON 

INSERT [dbo].[Salas] ([SalaId], [Nombre], [Narrativa], [Acertijo], [RespuestaEsperada], [Orden], [LimiteIntentos], [LimitePistas]) VALUES (1, N'Sala 1', N'El tesoro está más cerca de lo que parece. Entre todas estas palabras se esconde la clave correcta.', N'Encontrá la palabra correcta para continuar.', N'moneda', 1, 5, 2)
INSERT [dbo].[Salas] ([SalaId], [Nombre], [Narrativa], [Acertijo], [RespuestaEsperada], [Orden], [LimiteIntentos], [LimitePistas]) VALUES (2, N'Sala 2', N'Después de encontrar la moneda, una nueva puerta aparece frente a vos. Sobre la puerta hay una inscripción:', N'Tengo agujas, pero no sé coser. Tengo números, pero no sé contar. ¿Qué soy?', N'reloj', 2, 5, 2)
INSERT [dbo].[Salas] ([SalaId], [Nombre], [Narrativa], [Acertijo], [RespuestaEsperada], [Orden], [LimiteIntentos], [LimitePistas]) VALUES (3, N'Sala 3', N'El viejo capitán te mira fijo y susurra un último enigma antes de dejarte pasar.', N'Cuanto más me quitas, más grande me vuelvo. ¿Qué soy?', N'agujero', 3, 5, 2)
SET IDENTITY_INSERT [dbo].[Salas] OFF
GO
ALTER TABLE [dbo].[ProgresoPorSala]  WITH CHECK ADD  CONSTRAINT [FK_ProgresoPorSala_Partidas] FOREIGN KEY([PartidaId])
REFERENCES [dbo].[Partidas] ([PartidaId])
GO
ALTER TABLE [dbo].[ProgresoPorSala] CHECK CONSTRAINT [FK_ProgresoPorSala_Partidas]
GO
ALTER TABLE [dbo].[ProgresoPorSala]  WITH CHECK ADD  CONSTRAINT [FK_ProgresoPorSala_Salas] FOREIGN KEY([SalaId])
REFERENCES [dbo].[Salas] ([SalaId])
GO
ALTER TABLE [dbo].[ProgresoPorSala] CHECK CONSTRAINT [FK_ProgresoPorSala_Salas]
GO
USE [master]
GO
