	USE [master]
	GO
	/****** Object:  Database [TP06Prog]    Script Date: 2/9/2026 08:20:49 ******/
	CREATE DATABASE [TP06Prog]
	CONTAINMENT = NONE
	ON  PRIMARY 
	( NAME = N'TP06Prog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP06Prog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
	LOG ON 
	( NAME = N'TP06Prog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP06Prog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
	GO
	IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
	begin
	EXEC [TP06Prog].[dbo].[sp_fulltext_database] @action = 'enable'
	end
	GO
	USE [TP06Prog]
	GO
	/****** Object:  User [alumno]    Script Date: 2/9/2026 08:20:49 ******/
	CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
	GO
	/****** Object:  Table [dbo].[Partidas]    Script Date: 2/9/2026 08:20:49 ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Partidas](
		[PartidaId] [int] IDENTITY(1,1) NOT NULL,
		[NombreParticipante] [varchar](50) NOT NULL,
		[FechaInicio] [datetime] NOT NULL,
		[FechaFin] [datetime] NULL,
		[Estado] [varchar](50) NOT NULL,
		[TiempoConsumido] [int] NULL,
	CONSTRAINT [PK_Partidas] PRIMARY KEY CLUSTERED 
	(
		[PartidaId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[ProgresoPorSala]    Script Date: 2/9/2026 08:20:49 ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[ProgresoPorSala](
		[ProgresoId] [int] IDENTITY(1,1) NOT NULL,
		[PartidaId] [int] NOT NULL,
		[SalaId] [int] NOT NULL,
		[Estado] [varchar](50) NOT NULL,
		[IntentosUsados] [int] NOT NULL,
		[PistasSolicitadas] [int] NOT NULL,
		[FechaUltimaAccion] [datetime] NOT NULL,
	CONSTRAINT [PK_ProgresoPorSala] PRIMARY KEY CLUSTERED 
	(
		[ProgresoId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Salas]    Script Date: 2/9/2026 08:20:49 ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Salas](
		[SalaId] [int] IDENTITY(1,1) NOT NULL,
		[Nombre] [varchar](50) NOT NULL,
		[Narrativa] [varchar](300) NOT NULL,
		[Acertijo] [varchar](300) NOT NULL,
		[RespuestaEsperada] [varchar](50) NOT NULL,
		[Orden] [int] NOT NULL,
		[LimiteIntentos] [int] NOT NULL,
		[LimitePistas] [int] NOT NULL,
	CONSTRAINT [PK_Tablas] PRIMARY KEY CLUSTERED 
	(
		[SalaId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	ALTER TABLE [dbo].[ProgresoPorSala]  WITH CHECK ADD  CONSTRAINT [FK_ProgresoPorSala_Partidas] FOREIGN KEY([PartidaId])
	REFERENCES [dbo].[Partidas] ([PartidaId])
	GO
	ALTER TABLE [dbo].[ProgresoPorSala] CHECK CONSTRAINT [FK_ProgresoPorSala_Partidas]
	GO
	ALTER TABLE [dbo].[ProgresoPorSala]  WITH CHECK ADD  CONSTRAINT [FK_ProgresoPorSala_Salas] FOREIGN KEY([SalaId])
	REFERENCES [dbo].[Salas] ([SalaId])
	GO
	ALTER TABLE [dbo].[ProgresoPorSala] CHECK CONSTRAINT [FK_ProgresoPorSala_Salas]
	GO
	USE [master]
	GO
